{% extends 'core/base.html' %}
  
{%load static%} 
{%block title%}Recetario{% endblock %} 
{% block headers %}
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width", 
user-scalable=ni,initial-scale=1.0,maximium-scale=1.0,minimium-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'core/css/estilos.css'%}">
        <link rel="stylesheet" href="{%static 'core/css/tablas.css'%}">
        
   
{% endblock %}
{% block content %}
    <body> 
       
        <div class="contenedor">
            <section class="contenidoPrincipal">
                <div class="imagen">
                    <img src="{%static 'core/img/hola6.jpeg'%}" alt=""> 
                    <h1>Recetario:</h1>
                    <h2>Nombre de la receta</h2>
                    <div class="table-responsive">
                            <table class="table"> 
                                    <tr> 
                                        <th>Cantidades:</th> 
                                        <th>Ingrediente:</th>
                                    </tr>
                                    {% for recetario in recetario %}
                                       <tr> 
                                            <td>{{recetario.cantidad}}</td>
                                            <td>{{recetario.producto}}</td>
                                        </tr>
                                    {% endfor %}                                  
                                </table>
                
                             

                    </div>
                
                </div>
            </section>
        </div>
    </body>
{% endblock %}